body {
  font-family: 'Poppins', sans-serif;
  background: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background: #BDF4E9;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

header h1, header h2, header p {
  text-align: center;
}

.form-box {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.btn-submit {
  background: #FA113F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  width: 100%;
}

.btn-submit:hover {
  background: #218838;
}

.result-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.result-box h2 {
  color: #ff5722;
  margin-bottom: 10px;
  text-align: center;
}

.result-box h3 {
  color: #333;
  margin-bottom: 10px;
}

.selected-data {
  list-style: none;
  padding: 0;
}

.selected-data li {
  margin-bottom: 8px;
}
